      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Marmelad&family=Montserrat+Alternates:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="style/test.css"> --}}
      <h1>FAQ</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        1. Определитесь с фотографией, картинкой и надписями
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <iframe title="Time - Turner [Harry Potter] 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/79b87c8566374644b30863c7c30ad86d/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>     
        <iframe title="Pocket Watch 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/31b2ac0859874c70b5d46d75932820a0/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
        <iframe title="Antique Pocket Watch 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/fa99fca27aa54adaabb03473616ff117/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        2. Выберите тип циферблата
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <iframe title="Old Wrist Watch DH 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/438651fc63e84a8aaf5f58202a79c157/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
        <iframe title="Old Watch 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/da2b0da129944281a61954cca10b54a4/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
        <iframe title="hand watch  (FREE MODEL) 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/e3a78e329e7d4050a1c9d1c0bd19e47f/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3. Пришлите нам все детали
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Пришлите нам на почту картинку, номер циферблата и описание вашей задумки или заполните форму ниже.</strong> После получения заказа мы готовим макет и утверждаем его с Вами, затем приступаем к производству.
      </div>
    </div>
  </div>
</div>
      <hr>
        <div class="list">
    <details style="color:rgb(0, 0, 0)">
      <summary style="color:rgb(0, 0, 0)">
        <h4>Часы с индивидуальным дизайном</h4> 
      </summary>
      <br>
    Для частных лиц:
<br>
<br>
<br>
<li>Современные аксессуары призваны не только показывать статус обладателя, но и отражать характер, настроение, замыслы владельца. В этом отношении часы на заказ как нельзя лучше подходят для создания собственного стиля. Персонализация – одно из главных достоинств незаменимого атрибута. Многие люди без хронометра на руке ощущают психологический дискомфорт, ассортимент магазинов не всегда способен удовлетворить запросы взыскательных клиентов. Студия дизайнерских часов DIA предлагает оптимальный вариант – создание именно такого аксессуара, который станет верным спутником в повседневной жизни. У нас вы можете приобрести изделия:</li>


    </details>
          <hr>
        <br>
    <details style="color:rgb(0, 0, 0)">
      <summary style="color:rgb(0, 0, 0)">
        <h4>Стоимость и сроки изготовления</h4> 
      </summary>
      <br>
<li>Стоимость часов на заказ расчитывается индивидуально.
Срок изготовления - 2-3 недели.
Смена стандартного ремня на другой цвет - бесплатно.
Стоимость включает разработку макета с индивидуальным дизайном клиента.
Каждая дополнительная правка дизайна (после первых двух) - 1000 рублей.</li>
    </details>
          <hr>
        <br>
    <details style="color:rgb(0, 0, 0)">
      <summary style="color:rgb(0, 0, 0)">
        <h4>Как оплатить?</h4> 
      </summary>
Для частный лиц:
<br>
<br>
<br>
<li>
Для Вас возможны банковский перевод, а также приобрести в рассрочку на 4, 6 и 10 месяцев, проценты за рассрочку беру на себя я, вам лишь нужно отправить заявку на рассрочку в Тинькоф банк. Если вы не являетесь гражданином РФ или банк отказал вам в рассрочке - мы можем рассмотреть вариант внутренней рассрочки в индивидуальном порядке для этого напишите нашему менеджеру в телеграм</li>


    </details>

          <hr>
        <br>
    <details style="color:rgb(0, 0, 0)">
      <summary style="color:rgb(0, 0, 0)">
        <h4>Что делать, если банк не дал рассрочку или я не являюсь гражданином РФ?</h4> 
      </summary>
      <br>
<li>Если вы не являетесь гражданином РФ или банк отказал вам в рассрочке - мы можем рассмотреть вариант внутренней рассрочки в индивидуальном порядке для этого напишите нашему менеджеру в телеграм @sorw</li>

    </details>
            <hr>
        <br>
    <details style="color:rgb(0, 0, 0)">
      <summary style="color:rgb(0, 0, 0)">
        <h4>Я оплатил(а), что дальше?</h4> 
      </summary>
      <br>
<li>
Вам на почту, которую вы указали при оплате придет доступ к отслеживанию процесса изготовления. Если у вас нет сообщений проверьте папку "СПАМ", если там писем нет - вбейте в поисковое поле вашей почты "watchcreate" - и если после всех этих действий письма вы так и не обнаружили пишите моему менеджеру в телеграм @sorw</li>

    </details>
    </div>
  