  <button type="button" class="btn btn-primary btn"   data-bs-toggle="modal" data-bs-target="#exampleModal" style="fo">
    Register
  </button>
<li class="nav-item">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-7 col-md-10 col-lg-7 col-xl-6" style="width: 100%;">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-20">
                    <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                    <form class="postForms">

                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Your Name</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example3cg">Your Email</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example4cg">Password</label>
                      </div>
                      <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                        <label class="form-check-label" for="form2Example3g">
                          I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                        </label>
                      </div>

                      <div class="d-flex justify-content-center">
                        <button type="button"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                      </div>

                      <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                          class="fw-bold text-body"><u>Login here</u></a></p>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</li>
<li class="nav-item">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
    FORM
  </button>
  <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6" style="width: 100%;">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

            <form class="postForms">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example1cg">Your Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example3cg">Your Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password</label>
              </div>
              <div class="form-outline mb-4">
               <label for="img" class="form-label">Img</label>
    <input type="file" class="form-control" id="img" name="img">
              </div>
               <div class="d-flex justify-content-center">
                <button type="button"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Push!</button>
              </div>

          

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</li>
