<form class="formAvtUs" name="authorization">
  <div class="mb-3">
    <label for="avtName" class="form-label">Name</label>
    <input type="text" class="form-control" id="avtId">
  </div>
  
 <div class="mb-3">
    <label for="avtPass" class="form-label">Password</label>
    <input type="password" class="form-control" id="avtPassId">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" id="closeAvt" class="btn btn-primary">Close</button>
</form>

<form class="formRegMain" name="registration">
  <div class="mb-3">
    <label for="exampleInputName1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" id="closeReg" class="btn btn-primary">Close</button>
</form>

<form class="formUsersPu" name="formaUser">
  <div class="mb-3">
    <label for="formUsName" class="form-label">Name</label>
    <input type="text" class="form-control" id="formUsId">
  </div>
  <div class="mb-3">
    <label for="formUsEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="formUsId" aria-describedby="emailHelp">
    <div id="usEmailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPhone1" class="form-label">Phone</label>
    <input type="text" class="form-control" id="exampleInputPhone1">
  </div>
  <div class="mb-3">
    <label for="exampleInputImg1" class="form-label">Image</label>
    <input type="file" class="form-control" id="exampleInputImg1" name="Img">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" id="closeUsers" class="btn btn-primary">Close</button>
</form>

