<nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">WatchStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse1" id="navbarContent">
      <ul class="navbar-nav mr-avto mb-2">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-dark">Авторизация</button>
    <button type="button" class="btn btn-dark">Регистрация</button>
    <button type="button" class="btn btn-dark">Форма</button>
    <button type="button" class="btn btn-dark">FAQ</button>
  </div>
        </div>
       
      </ul>

    </div>
  </div>
  <div>


</nav>
