<form name="postForm" >
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="mb-3">
    <label for="title" class="form-label">Name</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="mb-3">
     <label for="phone" class="form-label" >Phone</label>
    <input type="text" class="form-control" id="phone" name="phone">
  </div>
  <div class="mb-3">
     <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
     <label for="img" class="form-label">Img</label>
    <input type="file" class="form-control" id="img" name="img">
  </div>
  <button type="submit" class="btn btn-danger">Push!</button>
</nav>
</form>
