<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/e5/8b/35/e58b35553c7805c851fa3049decb7b7a.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://live.staticflickr.com/4348/36263506793_2c854b5854_b.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://s3.eu-west-2.amazonaws.com/artformplatform.com/files/74571/5634-6528-1514335302_c.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.fineartamerica.com/images-medium-large-5/clock-face-adam-vereecke.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://x-tattoo.ru/wp-content/uploads/2019/07/razbityy-tsiferblat.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
