<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/736x/85/dc/af/85dcafe89a4d0a57e11933f3059a430c.jpg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/09/1a/a0/091aa0689e7dbd1935e06e8e2c0a9858.jpg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="https://images.fineartamerica.com/images-medium-large-5/clock-face-adam-vereecke.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img2.freepng.ru/20180425/alq/kisspng-pocket-watch-drawing-clip-art-pocket-watch-and-countdown-creative-plans-5ae13d0d2975c2.0264305215247106691698.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
