 body {
  background-color: #929692;
 

}
.navbar-brand{
  font-size: xx-large;
  /* margin: 0px 0px 0px 125px; */
}
.collapse1{
  display: flex;
  flex-basis: auto;
  flex-direction: row-reverse;
  /* margin: 0px -440px 0px -65px; */
}
/* .btn-primary1{ */

/* color: aliceblue;
border-color: aliceblue;
background-color: aliceblue; */
/* } */
*/

/* .container{
} */
.carousel-item {
  height: 600px;
  /* width: max-content; */
}

.carousel-item img {
  height: 800px;
  width: 800px;
}
