.footer_text {
  font-family: 'Marmelad', sans-serif;
  margin-top: 30px;
  padding-right: 120px;
  text-align: justify;
  color: #110027;;
  text-transform: none;
}

.list{
  font-family: 'Marmelad', sans-serif;
  /* margin-top: 30px;
  padding-right: 120px; */
  text-align: justify;
  color: #178102;
  /* text-transform: none; */
}
