<div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/85/dc/af/85dcafe89a4d0a57e11933f3059a430c.jpg" class="card-img-top" alt="...">
  <img src="https://kartinkin.net/uploads/posts/2021-07/1625828408_6-kartinkin-com-p-mekhanizm-chasov-oboi-krasivie-6.jpg" class="card-img-top" alt="...">
  <img src="https://cutewallpaper.org/21/wallpaper-clocks/Clocks-Wallpaper-Loads-Of-Alarm-Clocks-Free-Wallpaper-.jpg" class="card-img-top" alt="...">
  <img src="..." class="card-img-top" alt="...">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
