<div class="row">
    <div class="col">
        <form action="/admin/signup" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">adminKey</label>
                <input type="text" class="form-control" id="adminKey" name="adminKey">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
