<form name="editWatch">
  <input type="text" name="title" placeholder="Название часов" value="{{watch.title}}"></input>
  <input type="text" name="image" placeholder="вставьте url картинки" value="{{watch.image}}"></input>
  <input type="text" name="description" placeholder="Описание часов" value="{{watch.description}}"></input>
  <input type="hidden" name="id" value="{{watch.id}}"></input>
  <button>Redact</button>

</form>


<script defer src="/js/updateFetch.js"></script>
