<form name="editWatch">
  <input type="text" name="body" placeholder="Описание" value="{{post.body}}"></input>
  <input type="text" name="img" placeholder="Вставьте url картинки" value="{{example.img}}"></input>
  <input type="hidden" name="id" value="{{example.id}}"></input>
  
  <button>Redact</button>

</form>


<script defer src="/js/updateFetch.js"></script>
